*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/tmp/*
build
nbproject/
.idea

config.php
public_html

/fuel/app/config/crypt.php

public/upload/img/member/*/*
public/upload/img/album/*/*
public/upload/img/tmp/*
