<?php
/**
 * Your environment.  Can be set to any of the following:
 *
 * DEVELOPMENT
 * TEST
 * STAGING
 * PRODUCTION
 */
define('FBD_ENVIRONMENT', 'PRODUCTION');

// BASE_URL
//define('FBD_DOMAIN', 'sns.example.com');
define('FBD_URI_PATH', '/');// set setting path, if not set on document root

// DBサーバ接続設定
$GLOBALS['_FBD_DSN']['production'] = array(
	// MasterDB 設定
	'default' => array(
		'type'        => 'pdo',
		'connection'  => array(
			'dsn'        => 'mysql:host=localhost;dbname=dbname',
			'username'   => 'root',
			'password'   => '',
		),
		'charset' => 'utf8',// if use setting of utf8mb4, this line has to be commented out
		//'charset' => 'utf8mb4',// if use this setting, mysql version has to be over 5.5.3 and set my.cnf innodb_large_prefix option
		'connection_rate' => 0,// master-slave 構成時の参照の接続頻度(値が大きいほど高頻度で接続). 0 を指定すると更新時のみ接続
		//'readonly' => array(),// readonly は指定しない(connection_rate 設定が効かなくなる)
	),
);

// 暗号化キー(ASCII文字列)
define('FBD_ENCRYPTION_KEY', 'put_some_key_for_encryption_in_here');

/**
 * ssl mode:
 *     使用には FBD_DOMAIN の SSL 証明書のサーバ設定が必要
 *
 * false    : SSL を使用しない
 * 'ALL'    : 全ページで SSL の使用を必須とする
 * 'PARTIAL': 指定のページのみで SSL の使用を必須とするsite.ssl_required)
 *              fuel/config/site.php の ssl_required で設定
 */
define('FBD_SSL_MODE', false);

// 追加読み込みモジュール
$GLOBALS['_FBD_ADDITIONAL_MODULES'] = array(
);

// 管理画面アクセス許可IP設定 (未指定の場合、IP制限しない)
$GLOBALS['_FBD_ACCESS_ACCEPT_IPS']['admin'] = array(
);


// サイト名
define('FBD_SITE_NAME', 'サンプルSNS');
define('FBD_SITE_DESCRIPTION', 'サンプルSNSです');
define('FBD_HEADER_DESCRIPTION_DEFAULT', 'サンプルSNSです。');
define('FBD_HEADER_KEYWORDS_DEFAULT', 'SNS,サンプル');
//define('FBD_COPYRIGHT', '');

// 外部サイト設定
//define('FBD_SITE_URL', '');


// 運営者名 (お問い合わせフォームに表示)
define('FBD_ADMIN_NAME', '運営事務局');

// 運営者名 (お問い合わせフォームに表示)
define('FBD_ADMIN_MAIL', 'admin@example.com');

// Google 関連設定
define('GOOGLE_ANALYTICS_TRACKING_CODE', '');
define('GOOGLE_SITE_VERIFICATION', '');

// AWS 関連設定
define('FBD_AWS_ACCESS_KEY', '');
define('FBD_AWS_SECRET_KEY', '');
define('FBD_AWS_S3_BUCKET', '');
define('FBD_AWS_S3_PATH', '');


// Facebook 関連設定
define('FBD_FACEBOOK_APP_ID', '');
define('FBD_FACEBOOK_APP_SECRET', '');

// Twitter 関連設定
define('FBD_TWITTER_APP_ID', '');
define('FBD_TWITTER_APP_SECRET', '');

// Google 関連設定
define('FBD_GOOGLE_APP_ID', '');
define('FBD_GOOGLE_APP_SECRET', '');


// アップロードするファイルの最大サイズ(単位: byte / 0 = no maximum)
// 未指定の場合は php.ini の値
// define('FBD_UPLOAD_MAX_FILESIZE', 1 * 1024 * 1024);

// 一度にアップロードできるファイル数
// 未指定の場合は php.ini の値
// define('FBD_MAX_FILE_UPLOADS', 20);

// 画像ライブラリの指定 ( gd / imagick / imagemagick )
define('FBD_IMAGE_DRIVER', 'gd');

// ImageMagick のパス(ImageMagick を使用する場合のみ)
// define('FBD_IMAGE_IMGMAGICK_PATH', '/usr/bin/');

// 画像変換後のQUALITY値
define('FBD_IMAGE_OUTPUT_IMAGE_QUALITY', 98);

// メンバーごとにアップロードファイルサイズの上限を設けるかどうか
define('FBD_IS_LIMIT_UPLOAD_FILE_SIZE', false);


//// 複数DBサーバ接続設定
//$GLOBALS['_FBD_DSN']['production'] = array(
//	// SlaveDB 設定
//	'slave1' => array(
//		'type'        => 'pdo',
//		'connection'  => array(
//			'dsn'        => 'mysql:host=localhost;dbname=slave_dbname',
//			'username'   => 'root',
//			'password'   => '',
//		),
//		'table_prefix' => '',
//		'connection_rate' => 1,// master-slave 構成時の参照の接続頻度(値が大きいほど高頻度で接続)
//	),
//	// file_bin DB 設定
//	'file_bin_db' => array(
//		'type'        => 'pdo',
//		'connection'  => array(
//			'dsn'        => 'mysql:host=localhost;dbname=file_bin_dbname',
//			'username'   => 'root',
//			'password'   => '',
//		),
//		'table_prefix' => '',
//		'connection_rate' => 0,// master-slave 構成時の参照の接続頻度(値が大きいほど高頻度で接続). 0 を指定すると更新時のみ接続
//		//'readonly' => array(),// readonly は指定しない(connection_rate 設定が効かなくなる)
//	),
//);

//// 画像・ファイルサーバを分ける場合のURL設定
//define('FBD_MEDIA_BASE_URL', '');

// 開発関連設定
// プロファイル実行設定
define('FBD_PROFILING', false);

