<?php
/**
 * Your environment.  Can be set to any of the following:
 *
 * DEVELOPMENT
 * TEST
 * STAGE
 * PRODUCTION
 */
define('PRJ_ENVIRONMENT', 'DEVELOPMENT');

// BASE_URL
define('PRJ_HOSTNAME', 'torilife.info');
$PRJ_BASE_URL = sprintf('http://%s/', PRJ_HOSTNAME); $DEBUG_MODE = 0;
if (PRJ_ENVIRONMENT == 'STAGE') $PRJ_BASE_URL = str_replace('http://', 'http://stg.', $PRJ_BASE_URL);
define('PRJ_BASE_URL', $PRJ_BASE_URL);

// DBサーバ接続設定
$GLOBALS['DSN']['development'] = array(
	'default' => array(
		'connection'  => array(
			'dsn'        => 'mysql:host=localhost;dbname=dbname',
			'username'   => 'root',
			'password'   => '',
		),
		'profiling' => true,
	),
);

// プロファイル実行設定
define('PRJ_PROFILING', false);

// 暗号化キー(ASCII文字列)
define('PRJ_ENCRYPTION_KEY', 'put_some_key_for_encryption_in_here');


// 運営者名 (お問い合わせフォームに表示)
define('PRJ_ADMIN_NAME', '運営事務局');

// 運営者名 (お問い合わせフォームに表示)
define('PRJ_ADMIN_MAIL', 'admin@example.com');


// error level 設定
switch (PRJ_ENVIRONMENT)
{
	case 'DEVELOPMENT':
		define('PRJ_ERROR_REPORTING', E_ALL);
		define('PRJ_DISPLAY_ERRORS', 1);
		break;
	case 'TEST':
		define('PRJ_ERROR_REPORTING', E_ALL ^ E_NOTICE);
		define('PRJ_DISPLAY_ERRORS', 1);
		break;
	case 'STAGE':
	case 'PRODUCTION':
	default:
		define('PRJ_ERROR_REPORTING', 0);
		define('PRJ_DISPLAY_ERRORS', 0);
		break;
}
