<?php
/**
 * Your environment.  Can be set to any of the following:
 *
 * DEVELOPMENT
 * TEST
 * STAGING
 * PRODUCTION
 */
define('FBD_ENVIRONMENT', 'PRODUCTION');

// BASE_URL
//define('FBD_DOMAIN', 'sns.example.com');// if use Internationalized Domain, set Punycode here.
define('FBD_URI_PATH', '/');// set setting path, if not set on document root

// if use Internationalized Domain, set IDN here.
//define('FBD_INTERNATIONALIZED_DOMAIN', 'internationalized-domain-name-example.jp');

// DB Server connection setting
$GLOBALS['_FBD_DSN']['production'] = array(
	// MasterDB 設定
	'default' => array(
		'type'        => 'pdo',
		'connection'  => array(
			'dsn'        => 'mysql:host=localhost;dbname=dbname',
			'username'   => 'root',
			'password'   => '',
		),
		'charset' => 'utf8',// if use setting of utf8mb4, this line has to be commented out
		//'charset' => 'utf8mb4',// if use this setting, mysql version has to be over 5.5.3 and set my.cnf innodb_large_prefix option
		'connection_rate' => 0,// Connection frequency rate to refer on master-slave configuration. If set higher, connected more frequently. If set 0, connected on update only.
		//'readonly' => array(),// Don't set readonly. If set, connection_rate setting is disabled.
	),
);
// Use mysql environment variable MYSQL_PWD at executing sql from script.(Using mysql 5.6 or later, you have to set this true)
//define('FBD_USE_ENV_VAL_MYSQL_PWD', false);

// Encrypt key (set ASCII chars only)
define('FBD_ENCRYPTION_KEY', 'put_some_key_for_encryption_in_here');

/**
 * ssl mode:
 *     Set SSL certificate of FBD_DOMAIN to WEB server, if use this.
 *
 * false    : not use SSL connection.
 * 'ALL'    : Force to use SSL connection on all pages.
 * 'PARTIAL': Use SSL connection on specified pages only. (You shoud set ssl_required on fuel/config/site.php)
 */
define('FBD_SSL_MODE', false);

// Set additional modules.
$GLOBALS['_FBD_ADDITIONAL_MODULES'] = array(
);

// If you need access restriction to administrater pages, set ips to allow. If not set, allow to access from all ips.
$GLOBALS['_FBD_ACCESS_ACCEPT_IPS']['admin'] = array(
);

// Routes setting
define('FBD_ROUTES_ROOT_PATH', 'site/index');
define('FBD_ROUTES_MYHOME_PATH', 'timeline/myhome');


// Site name and meta settings.
define('FBD_SITE_NAME', 'サンプルSNS');
define('FBD_SITE_DESCRIPTION', 'サンプルSNSです');
define('FBD_HEADER_DESCRIPTION_DEFAULT', 'サンプルSNSです。');
define('FBD_HEADER_KEYWORDS_DEFAULT', 'SNS,サンプル');
//define('FBD_COPYRIGHT', '');

// If you set this, top page is at other domain site.
//define('FBD_SITE_URL', '');


// Site operating company name (used this at copy right)
//define('FBD_ADMIN_COMPANY_NAME', '');
// Site operating company name localized
//define('FBD_ADMIN_COMPANY_NAME_JP', '');

// Site operating team name (used at contact form)
define('FBD_ADMIN_NAME', FBD_SITE_NAME.' 運営事務局');

// Site operating team's email address (used at contact form)
define('FBD_ADMIN_MAIL', 'admin@example.com');

// Google settings
define('GOOGLE_ANALYTICS_TRACKING_CODE', '');
define('GOOGLE_SITE_VERIFICATION', '');
define('GOOGLE_API_KEY', '');

// AWS settings
define('FBD_AWS_ACCESS_KEY', '');
define('FBD_AWS_SECRET_KEY', '');
define('FBD_AWS_S3_BUCKET', '');
define('FBD_AWS_S3_PATH', '');


// Auth settings
// Setting to allow multiple login
define('SITE_MULTIPLE_LOGINS', false);
define('ADMIN_MULTIPLE_LOGINS', false);

// Facebook settings
define('FBD_FACEBOOK_APP_ID', '');
define('FBD_FACEBOOK_APP_SECRET', '');

// Twitter settings
define('FBD_TWITTER_APP_ID', '');
define('FBD_TWITTER_APP_SECRET', '');

// Google settings
define('FBD_GOOGLE_APP_ID', '');
define('FBD_GOOGLE_APP_SECRET', '');


// Max size to upload. 
// If not set, applied value in php.ini
// define('FBD_UPLOAD_MAX_FILESIZE', '10MB');

// Number of files enabled to uipload
// If not set, applied by value in php.ini
// define('FBD_MAX_FILE_UPLOADS', 20);

// Set image library ( gd / imagick / imagemagick )
define('FBD_IMAGE_DRIVER', 'gd');

// path of ImageMagick(only use ImageMagick)
// define('FBD_IMAGE_IMGMAGICK_PATH', '/usr/bin/');

// Image quality after converted
define('FBD_IMAGE_OUTPUT_IMAGE_QUALITY', 98);

// Set true, if you want set upload file size limit for each member
define('FBD_IS_LIMIT_UPLOAD_FILE_SIZE', false);


//// Setting of multiple db server
//$GLOBALS['_FBD_DSN']['production'] = array(
//	// SlaveDB 設定
//	'slave1' => array(
//		'type'        => 'pdo',
//		'connection'  => array(
//			'dsn'        => 'mysql:host=localhost;dbname=slave_dbname',
//			'username'   => 'root',
//			'password'   => '',
//		),
//		'table_prefix' => '',
//		'connection_rate' => 1,// Connection frequency rate to refer on master-slave configuration. If set higher, connected more frequently. If set 0, connected on update only.
//	),
//	// file_bin DB 設定
//	'file_bin_db' => array(
//		'type'        => 'pdo',
//		'connection'  => array(
//			'dsn'        => 'mysql:host=localhost;dbname=file_bin_dbname',
//			'username'   => 'root',
//			'password'   => '',
//		),
//		'table_prefix' => '',
//		'connection_rate' => 0,// Connection frequency rate to refer on master-slave configuration. If set higher, connected more frequently. If set 0, connected on update only.
//		//'readonly' => array(),// Don't set readonly. If set, connection_rate setting is disabled.
//	),
//);

//// Setting of media server url, if you deliver from other server(Need to set with http scheme)
//define('FBD_MEDIA_BASE_URL', '');

//// Setting for operation
// Output log level setting
define('FBD_OUTPUT_ERROR_LOG_LEVEL', 'error'); // false / error / warning / info / debug

//// Setting for development
// Profiling setting
define('FBD_PROFILING', false);

