body {
	padding-top: 60px;
	min-width: 280px;
}
/* browser width is under 980px */
@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
@media  (max-width: 767px) {
	body {
		margin: 0px;
	}
	body .navbar .brand {
		margin-left: 5px;
	}
}

div#main div.row-fluid div#main_container {
	margin: 0 auto;
}

.sidebar-nav {
	padding: 9px 0;
}

#subtitle {
	margin-top: 10px;
	position: relative;
}

#main_column {
	border-right: 1px solid #CCCCCC;
}

img.profile_image {
	border-radius: 4px;
}
.fullname {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}
.profile_img_box {
	padding: 7px 5px;
	position: relative;
	margin-bottom: 5px;
}
.profile_img_box img.profile_image {
	position: absolute;
	left: 10px;
	top: 0;
}
.profile_img_box div.content {
	margin-left: 65px;
}

.member_img_box_s,
.member_img_box_ss
{
	position: relative;
	text-align: left;
}
.member_img_box_s img.profile_image,
.member_img_box_ss img.profile_image
{
	position: absolute;
	left: 0;
	top: 3px;
}

.member_img_box_s div.content {
	margin-left: 35px;
}
.member_img_box_ss div.content {
	margin-left: 24px;
}

.member_img_box_s div.content .fullname,
.member_img_box_s div.content small {
	font-size: 12px;
	line-height: 13px;
}
.member_img_box_ss div.content .fullname,
.member_img_box_ss div.content small {
	font-size: 11px;
	line-height: 12px;
}

.member_img_box_s div.content div.main .fullname {
	margin-right: 5px;
}
.member_img_box_s .content span.label {
	margin-left: 5px;
}

.date_box {
	position: relative;
	text-align: left;
	padding: 5px 8px;
}
.date_box .public_flag {
	position: absolute;
	top: 0;
	right: 8px;
}

#subtitle div.member_img_box_s .public_flag {
	margin-left: 5px;
}

.list_subtitle {
	position: relative;
}
#subtitle .edit,
.list_subtitle .edit
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.commentBox,
.commentPostBox,
.listMoreBox
{
	margin-bottom: 3px;
	padding: 5px;
	background-color: #F5F5F5;
	position: relative;
	word-wrap: break-word;
}
.listMoreBox
{
	text-align: center;
}
a.listMoreBox
{
	display: block;
}
div.btnBox {
	overflow: auto;
}
div.btnBox button {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.commentBox .boxBtn {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: #949494;
}

.commentBox small {
	color: #868686;
}

h4#comments {
	margin-bottom: 3px;
}

.ml {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mr {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mrlr5 {
	margin-left:  5px;
	margin-right: 5px;
}
.mrlr10 {
	margin-left:  10px;
	margin-right: 10px;
}

.w90 {width: 90%;}

.article .body {
	padding-top: 5px;
	padding-bottom: 10px;
}

div#popup_container.ui-draggable #popup_message {
	color: #000;
}

#main_container .main_item {
	width: 250px;
	margin: 5px;
	padding: 8px 0 5px;
	text-align: center;
	float: left;
	border: 1px solid #ccc;
	background: #eee;
	box-shadow: 0 2px 1px #eee;
}
#main_container .main_item div.article {
	text-align: left;
	padding: 0 8px;
	margin: 0;
	position: relative;
}
#main_container .main_item img {
	margin: 0 0 5px;
}
#main_container .main_item div.article .btn-group {
	position: absolute;
	right: 8px;
	bottom: 0;
}
#main_container .main_item div.article .dropdown-menu {
	max-width: 170px;
	min-width: 100px;
	font-size: 11px;
}
#main_container .main_item .commentBox {
	padding: 5px 10px 5px 5px;
}
#main_container .main_item .member_img_box_s {
	margin-top: 5px;
	padding: 0 10px;
	text-align: left;
}
#main_container .main_item .member_img_box_s img.profile_image {
	left: 9px;
}

#main_container .main_item h5 {
	padding: 0 10px;
	margin: 10px 0 3px;
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
}

#main_container .main_item .subinfo {
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
	line-height: 10px;
	margin-bottom: 10px;
}

#infscr-loading {
	margin-left: -100px;
	width: 200px;
	position: fixed;
	left: 50%;
	bottom: 10px;
	text-align: center;
}

#btn_menu {
	padding-left:  5px;
	margin-bottom: 5px;
}
#btn_menu .btn {
	margin-top: 5px;
}

.img_box {
	text-align: center;
	padding: 0 auto;
	position: relative;
}
.img_box a.forward {
	position: absolute;
	right: 0;
	top: 0;
}
.img_box a.backward {
	position: absolute;
	left: 0;
	top: 0;
}

#img_comment_box {
	position: relative;
}
#img_comment_box a#slidetop {
	position: absolute;
	left: 0;
	top: -60px;
}

#img_comment_box {
	margin-bottom: 20px;
}

div.loading_image {
	padding: 0 auto;
	text-align: center;
}

.dropdown-menu li span {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 20px;
	white-space: nowrap;
}

.dropdown-menu li span.disabled {
	color: #7A7A7A;
}

/* form */
/* browser width is over 480px */
@media (min-width: 480px) {
	.input-xlarge {
		width: 95%;
	}
}
span.required {
	font-weight: bold;
	color: #D45555;
	margin-left: 3px;
}
.form_description {
	font-size: 11px;
	margin-bottom: 0;
}
.form_description ul {
	list-style: none;
	margin-left: 0;
}
.form_description li span.required {
	margin-left: 0;
	margin-right: 3px;
}

.controls input[type="radio"],
.controls input[type="checkbox"]
{
	position: relative;
	top: -0.2em;
}

.page-header h2,
.header h4
{
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
}

div.alert ul {
	margin-bottom: 0;
}
.error_msg {
	color: #B94A48;
}
