body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

#subtitle {
	margin-top: 10px;
	position: relative;
}

#main_column {
	border-right: 1px solid #CCCCCC;
}

img.profile_image {
	border-radius: 4px;
}
.fullname {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}
.profile_img_box {
	padding: 7px 5px;
	position: relative;
	margin-bottom: 5px;
}
.profile_img_box img.profile_image {
	position: absolute;
	left: 10px;
	top: 0;
}
.profile_img_box div.content {
	margin-left: 65px;
}


.member_img_box_s {
	position: relative;
}
.member_img_box_s img.profile_image {
	position: absolute;
	left: 0;
	top: 3px;
}
.member_img_box_s div.content {
	margin-left: 35px;
}
.member_img_box_s div.content .fullname,
.member_img_box_s div.content small {
	font-size: 12px;
	line-height: 13px;
}
.member_img_box_s div.content div.main .fullname {
	margin-right: 5px;
}

#subtitle .btn-group {
	position: absolute;
	right: 0;
	top: 0;
}

.commentBox {
	margin-top: 3px;
	padding: 5px 30px 5px 5px;
	background-color: #F5F5F5;
	position: relative;
	word-wrap: break-word;
}

.commentBox .boxBtn {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #949494;
}

#article_list .article {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EEEEEE;
}

#article_list .article .header {
	margin-bottom: 10px;
}

#article_list .article .header h4 {
	margin-bottom: 5px;
}
