#top_content {
	margin-bottom: 15px;
}

#subtitle {
	margin-top: 10px;
	position: relative;
}

img.profile_image {
	border-radius: 4px;
}

.pull-left-img {
	width: 10%;
	margin-right: 3%;
	float: left;
}

.fullname {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}
.profile_img_box {
	padding: 10px 5px;
	position: relative;
	margin-bottom: 5px;
}
.profile_img_box img.profile_image {
	position: absolute;
	left: 10px;
	top: 5px;
}
.profile_img_box div.content {
	margin-left: 65px;
	word-break: break-all;
	word-wrap: break-word;
}

.member_contents .main {
	margin-top: 5px;
}
.member_contents.row {
	margin-left: 0;
	margin-right: 0;
}
.member_contents .col-xs-1 {
	padding: 0 !important;
}
.member_contents .col-xs-1 img {
	margin-left: auto;
	margin-right: auto;
}
.member_contents .col-xs-11 {
	padding: 0 !important;
}
@media (max-width: 767px)
{
	.member_contents .col-xs-11 {
		padding-left: 4px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.member_contents .col-xs-11 {
		padding-left: 15px !important;
	}
}
@media (min-width: 992px) {
	#main_container .main_item .member_contents .col-xs-11 {
		padding-left: 5px !important;
	}
	#main_container .main_item .member_contents .col-xs-1 {
		padding-top: 3px !important;
	}
}

.date_box {
	position: relative;
	text-align: left;
	padding: 5px 8px;
}
.date_box .public_flag {
	position: absolute;
	top: 0;
	right: 8px;
}

.list_subtitle {
	position: relative;
}

.timelineBox {
	padding: 15px 0;
	position: relative;
	border-bottom: 1px solid #EEEEEE;
}
.timelineBox .content .main {
	padding-right: 5px;
	word-break: break-all;
	word-wrap: break-word;
}
.timelineBox .content .main .thumbnails {
	padding-top: 5px;
}

#article_list .timelineBox .commentPostBox .main {
	padding-right: 0;
}

a.load_more_timeline {
	margin-bottom: 20px;
}

#subtitle .btn.edit,
#subtitle .btn-group.edit,
.list_subtitle .btn.edit,
.list_subtitle .btn-group.edit
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.btn span.hidden-xs {
	display: inline !important;
}
@media (max-width: 768px) {
	.btn span.hidden-xs {
		display: none !important;
	}
}

.commentBox,
.commentPostBox,
.listMoreBox,
.showCommentBox
{
	margin-bottom: 3px;
	padding: 5px;
	background-color: #F5F5F5;
	position: relative;
	word-wrap: break-word;
}
.listMoreBox,
.showCommentBox
{
	text-align: center;
}
a.listMoreBox,
a.showCommentBox
{
	display: block;
}
div.btnBox {
	overflow: auto;
}
div.btnBox button {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.commentBox .boxBtn,
.article .boxBtn,
.timelineBox .boxBtn {
	position: absolute;
	right: 5px;
	top: 3px;
	color: #949494;
}
.commentBox small {
	color: #868686;
}
.commentPostBox div.clearfix div.public_flag {
	margin: 3px 10px 0 0;
}

h4#comments {
	margin-bottom: 3px;
}

#main_post_box {
	margin-bottom: 20px;
}

.ml {
  margin-left: 5px;
}
.ml3 {
  margin-left: 3px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mr {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mlr5 {
	margin-left:  5px;
	margin-right: 5px;
}
.mlr10 {
	margin-left:  10px;
	margin-right: 10px;
}
.mt {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.w90 {width: 90%;}
.fs9 {font-size: 9px;}
.fs10 {font-size: 10px;}

.article .body {
	padding-top: 5px;
	padding-bottom: 10px;
}

div#popup_container.ui-draggable #popup_message {
	color: #000;
}

div#main div.row div#main_container {
	margin: 0 auto;
}

#main_container .main_item {
	width: 235px;
	margin: 5px;
	padding: 5px 0 5px;
	float: left;
	border: 1px solid #ccc;
	background: #eee;
	box-shadow: 0 2px 1px #eee;
}

#main_container .main_item h5 {
	text-align: center;
}
#main_container .main_item div.article {
	text-align: left;
	padding: 5px 0;
	margin: 0;
}
#main_container .main_item div.imgBox {
	position: relative;
	padding: 0 5px;
}
#main_container .main_item div.imgBox .content {
	text-align: center;
}
#main_container .main_item div.imgBox .btn-group,
#main_container .main_item div.imgBox .btn_album_edit
{
	position: absolute;
	right: 8px;
	bottom: 0;
}
#main_container .main_item div.imgBox .btn-group ul.dropdown-menu li {
	text-align: left;
}
#main_container .main_item div.imgBox div.description {
	text-align: left;
	margin-left: 15px;
	padding-right: 50px;
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
}
#main_container .main_item div.article .dropdown-menu {
	max-width: 170px;
	min-width: 100px;
	font-size: 11px;
}
#main_container .main_item .commentBox {
	padding: 5px 10px 5px 5px;
}

#main_container .main_item h5 {
	padding: 0 10px;
	margin: 10px 0 3px;
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
}

#main_container .main_item .subinfo {
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
	line-height: 10px;
	margin-bottom: 10px;
}

#infscr-loading {
	margin-left: -100px;
	width: 200px;
	position: fixed;
	left: 50%;
	bottom: 10px;
	text-align: center;
}

#btn_menu {
	padding-left:  5px;
	margin-bottom: 5px;
}
#btn_menu .btn {
	margin-top: 5px;
}

.img_box {
	text-align: center;
	position: relative;
}
.img_box a.forward {
	position: absolute;
	right: 0;
	top: 0;
}
.img_box a.backward {
	position: absolute;
	left: 0;
	top: 0;
}
.img_box img {
	margin: 0 auto;
}

#img_comment_box {
	position: relative;
}
#img_comment_box a#slidetop {
	position: absolute;
	left: 0;
	top: -60px;
}

#img_comment_box {
	margin-bottom: 20px;
}

div.loading_image {
	padding: 0 auto;
	text-align: center;
}

.dropdown-menu li span {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 20px;
	white-space: nowrap;
}

.dropdown-menu li span.disabled {
	color: #7A7A7A;
}

span.required {
	font-weight: bold;
	color: #D45555;
	margin-left: 3px;
}
.form_description {
	font-size: 11px;
	margin-bottom: 0;
}
.form_description ul {
	list-style: none;
	margin-left: 0;
}
.form_description li span.required {
	margin-left: 0;
	margin-right: 3px;
}
.form-group .row div.text-block {
	top: 8px;
	text-align: center;
}

.form-group .radio label {
	word-break:break-all;
	word-wrap:break-word;
}

#form_button {margin-top: 10px;}

.controls input[type="radio"],
.controls input[type="checkbox"]
{
	position: relative;
	top: -0.2em;
}

.page-header {
	margin-top: 10px !important;
}
.page-header h1,
.header h4
{
	margin-top: 0 !important;
	word-break:break-all;
	word-wrap:break-word;
	overflow:hidden;
	z-index: 3;
}
/*
.page-header h1.has_label,
#article_list .article .header h4.has_label
{
	position: relative;
	padding-right:70px;
}
.page-header h1.has_label span.label {
	position: absolute;
	right: 0;
	top: 10px;
}
#article_list .article .header h4.has_label span.label {
	position: absolute;
	right: 0;
	top: 2px;
}
*/

div.alert ul {
	margin-bottom: 0;
}
.error_msg {
	color: #B94A48;
}

.main_link {
	margin-bottom: 20px;
}

.article_body {
	margin-bottom: 30px;
}

.thumbnail_box {
	margin-bottom: 20px;
}
.thumbnail_box .thumbnail {
	margin-bottom: 0;
}
.thumbnail_box small {
	margin-top: 5px;
}

.fileinput .thumbnail {
	margin-bottom: 10px;
}
.fileinput .thumbnail img {
	margin-bottom: 0;
}
.fileinput p.subinfo {
	position: relative;
}
.fileinput p.subinfo .delete_file_tmp {
	position: absolute;
	top: -5px;
	right: 0;
}
.fileinput textarea.form-control {
	padding: 0;
}

#upload_files_img .file_tmp,
#upload_files_file .file_tmp
{
	margin-bottom: 10px;
}

.commentPostBox .input {
	margin-bottom: 5px;
}

.navbar .popover .popover-content .checkbox input {
	margin-left: -5px;
	margin-right: 5px;
}

div.navbar-header div.navbar-btn div.notice button {
	background-color: transparent;
	border: none;
	padding: 0 10px;
	color: #444;
	font-size: 22px;
	position: relative;
}
div.navbar-header div.navbar-btn div.notice button:hover,
div.navbar-header div.navbar-btn div.notice button:focus,
div.navbar-header div.navbar-btn div.notice button.notified:hover,
div.navbar-header div.navbar-btn div.notice button.notified:focus {
	color: #fff;
	background-color: transparent;
}
div.navbar-header div.navbar-btn div.notice button.notified {
	color: #999;
}
div.navbar-header div.navbar-btn div.notice button span.badge {
	position: absolute;
	top: 16px;
	right: 2px;
	padding: 3px 4px;
	background-color: #d9534f;
	font-size: 10px;
	color: #fff;
}

table th.small,
table td.small {width: 40px; text-align: center}
table th.datetime,
table td.datetime {width: 130px;}
table th.datetime_both,
table td.datetime_both {width: 190px;}

div.profile {
	position: relative;
	padding-top: 25px;
}
div.profile .btnEdit {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

div.imgBox img {
	margin: 0 auto;
}
div.btnBox {
	text-align: center;
	margin-top: 5px;
}

.note-editor .note-editable {
	background-color: #FFF;
}

#insecure_user_popover .form-group .btn {
	margin-bottom: 5px;
}

.js-hide-btn .popover .popover-content {
	overflow: scroll;
	max-height: 300px;
}

.simpleList-item {
	position: relative;
	display: block;
	padding: 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
a.simpleList-item {
	color: #555;
}
a.simpleList-item:hover,
a.simpleList-item:focus {
	text-decoration: none;
	background-color: #f5f5f5;
}
.simpleList-item:last-child {
	border-bottom: none;
}
.simpleList-item-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
}
a.simpleList-item-warning {
	color: #8a6d3b;
}
a.simpleList-item-warning .simpleList-item-heading {
	color: inherit;
}
a.simpleList-item-warning:hover,
a.simpleList-item-warning:focus {
	color: #8a6d3b;
	background-color: #faf2cc;
}
