.main_item .btn_album_edit {
	display: none;
}
.imgBox .btn_album_image_edit {
	display: none;
}
.commentBox .js-ajax-delete,
.timelineBox .dropdown,
.article .boxBtn,
.main_item .boxBtn,
.article .btn-group.edit {
	display: none;
}
