#article_list .article {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EEEEEE;
}

#article_list .article .header {
	margin-bottom: 10px;
}

#article_list .article .header h4 {
	margin-bottom: 5px;
}

#album_album_detail .carousel .item img {
	display: inline;
}

#album_album_detail .carousel .item {
	text-align : center;
}

#album_album_slide .carousel .active {
	display: inline;
}
#album_album_slide .carousel-inner {
	text-align : center;
}

#album_album_detail .bar {
	background: green;
}

#album_album_edit_images table#album_image_list td {
	vertical-align: middle;
}
#album_album_edit_images table#album_image_list .formParts {
	text-align: center;
}

/* browser width is over 480px */
@media (min-width: 480px) {
	#controller_member_setting_password .form-horizontal .control-label,
	#controller_member_setting_email .form-horizontal .control-label
	{
		width: 180px;
	}
	#controller_member_setting_password .form-horizontal .controls,
	#controller_member_setting_email .form-horizontal .controls
	{
		margin-left: 200px;
	}
}

@media (min-width: 480px) {
	#album_album_upload table {table-layout: fixed;}
	#album_album_upload td {word-wrap: break-word;}
}

body .ui-datepicker select.ui-datepicker-month,
body .ui-datepicker select.ui-datepicker-year
{
	width: 43%;
}

div.navbar-inner .popover {
	right: 5px !important;
}
div.navbar-inner .popover.bottom .arrow {
	margin-left: 10%;
}

.checkbox {
	padding-left: 5px;
}
.controls input[type="checkbox"] {
	margin: 0;
}
.controls label {
	display: inline;
}

#insecure_user_popover label.checkbox {
	font-size: 85%;
}
.member_img_box_s .content span.label {
	margin-left: 5px;
}

.imgBox .public_flag {
	text-align: right;
	padding: 0 8px 3px;
}

