#article_list .article {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EEEEEE;
}

#article_list .article .header {
	margin-bottom: 10px;
}

#article_list .article .header h4 {
	margin-bottom: 5px;
}

#album_album_detail .carousel .item img {
	display: inline;
}

#album_album_detail .carousel .item {
	text-align : center;
}

#album_album_slide .carousel .active {
	display: inline;
}
#album_album_slide .carousel-inner {
	text-align : center;
}

#album_album_detail .bar {
	background: green;
}

#album_album_edit_images table#album_image_list td {
	vertical-align: middle;
}
#album_album_edit_images table#album_image_list .formParts {
	text-align: center;
}

/* browser width is over 480px */
@media (min-width: 480px) {
	#controller_member_setting_password .form-horizontal .control-label,
	#controller_member_setting_email .form-horizontal .control-label
	{
		width: 180px;
	}
	#controller_member_setting_password .form-horizontal .controls,
	#controller_member_setting_email .form-horizontal .controls
	{
		margin-left: 200px;
	}
}

#album_album_upload #form_button {margin-top: 10px;}

#album_album_edit_images td {
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}

body .ui-datepicker select.ui-datepicker-month,
body .ui-datepicker select.ui-datepicker-year
{
	width: 43%;
}

div.navbar-inner .popover {
	right: 5px !important;
}
div.navbar-inner .popover.bottom .arrow {
	margin-left: 10%;
}
.controls input[type="checkbox"] {
	margin: 0;
}
.controls label {
	display: inline;
}

.popover-content .radio,
.popover-content .checkbox
{
	padding-left: 5px;
}

#insecure_user_popover label.checkbox {
	font-size: 85%;
}

form .popover {
	background-color: #DFDFDF;
	font-size: 11px;
}
form .popover.bottom .arrow:after {
	border-bottom-color: #DFDFDF;
}


.main_item .member_img_box_s .public_flag {
	position: absolute;
	top: 0;
	right: 8px;
}

#member_profile_setting_image .imgBox {
	margin-bottom: 10px;
}
#member_profile_setting_image .imgBox .delete_image {
	vertical-align: bottom;
}
